/* Esercizio 1 */

.ex-1-square:hover {
  background: red;
}

.ex-1-square {
  transition: 2s;
}

/* Esercizio 2 */

.ex-2-square:active {
  height: 100px;
  width: 100%;
}

.ex-2-square {
  transition: 3s;
}

/* Esercizio 3 */

.ex-3-square:hover {
  border-radius: 100%;
}

.ex-3-square {
  transition: 3s;
}

/* Esercizio 4 */

.ex-4-square:hover {
  opacity: 0;
}

.ex-4-square {
  transition: 2s;
}

/* Esercizio 5 */

.ex-5-square:hover {
  transform: scale(2);
}

.ex-5-square:active {
  transform: scale(0.2);
}

.ex-5-square {
  transition: all 1s ease-in-out;
}

/* Esercizio 6 */

.ex-6-img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* Esercizio 7 */

.ex-7-img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.ex-7-img:hover {
  filter: sepia(1);
  transition: 3s;
}

.ex-7-img {
  transition: 2s ease-in-out;
}

/* Esercizio 8 */

.ex-8-img:hover {
  -webkit-filter: grayscale(100%);
  filter: saturate(7) sepia(1);
  border-radius: 25px;
}

.ex-8-img {
  transition: 3s ease-in-out;
}

/* Esercizio 9 */

.ex-9-img:hover {
  -webkit-filter: grayscale(100%);
  filter: blur(2px) sepia(1);
  transform: scale(1.4);
  border-radius: 25px;
}

.ex-9-img {
  transition: 2s ease-in-out;
}

/* Esercizio 10 */

.ex-10-icon {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Esercizio 11 */

.ex-11-icon:hover {
  animation-name: partial-spin;
  animation-duration: 2000ms;
  animation-timing-function: linear;
}

@keyframes partial-spin {
  0% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Esercizio 12 */

.ex-12-button:hover .ex-12-top-white {
  animation-name: top-white-move;
  animation-duration: 2000ms;
  animation-timing-function: linear;
}

@keyframes top-white-move {
  0% {
    left: 10%;
  }
  50% {
    left: 50%;
  }

  100% {
    left: 10%;
  }
}

.ex-12-button:hover .ex-12-bottom-white {
  animation-name: bottom-white-move;
  animation-duration: 2000ms;
  animation-timing-function: linear;
}

@keyframes bottom-white-move {
  0% {
    right: 10%;
  }
  50% {
    right: 50%;
  }

  100% {
    right: 10%;
  }
}

/* Esercizio 13 */

.ex-13-button:hover .ex-13-top-white {
  animation-name: top-white-move-full;
  animation-duration: 2000ms;
  animation-timing-function: linear;
}

@keyframes top-white-move-full {
  0% {
    left: 5px;
    top: -10px;
  }
  30% {
    left: 10px;
    top: -10px;
  }
  45% {
    left: 15px;
    top: 100%;
  }
  75% {
    left: 0;
    top: 100%;
  }
  90% {
    left: -15px;
    top: -10px;
  }
  100% {
    left: 5px;
    top: -10px;
  }
}

.ex-13-button:hover .ex-13-bottom-white {
  animation-name: bottom-white-move-full;
  animation-duration: 2000ms;
  animation-timing-function: linear;
}

@keyframes bottom-white-move-full {
  0% {
    bottom: -10px;
    right: 5px;
  }
  30% {
    right: 10px;
    bottom: -10px;
  }
  45% {
    right: 15px;
    bottom: 100%;
  }
  75% {
    right: 0;
    bottom: 100%;
  }
  90% {
    right: -15px;
    bottom: -10px;
  }
  100% {
    bottom: -10px;
    right: 5px;
  }
}
